.h-center {
  display: flex;
  align-items: center;
}

.v-center {
  display: flex;
  justify-content: center;
}

.vh-center, .loading-box, .music-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.column-space-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.column-align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
}

@font-face {
  font-family: siyuan;
  src: url("../font/NotoSansHans-Regular.otf");
}

@font-face {
  font-family: siyuanbold;
  src: url("../font/NotoSansHans-Bold.otf");
}

.page {
  background-size: 100% auto;
  background-repeat: no-repeat;
  font-family: siyuan;
}

.page table {
  width: 6.5rem !important;
}

.page table td {
  text-align: center;
  border: none !important;
  border-bottom: 1px solid #333 !important;
}

.page .note {
  width: 5.9rem;
  margin: 0.2rem auto 0;
  padding: 0.2rem 0.3rem;
  background-color: rgba(102, 102, 102, 0.5);
  color: #fff;
  line-height: 0.4rem;
}

.page .next {
  position: absolute;
  left: 50%;
  bottom: 0.3rem;
  width: 0.7rem;
  margin-left: -0.35rem;
  animation: updown 1.2s linear infinite;
}

.page-1 {
  background-image: url(../assets/1.jpg);
}

.page-2 {
  background-image: url(../assets/2.jpg);
}

.page-3 {
  background-image: url(../assets/3.jpg);
}

.page-4 {
  background-image: url(../assets/4.jpg);
}

.page-5 {
  background-image: url(../assets/5.jpg);
}

.page-6 {
  background-image: url(../assets/6.jpg);
}

.page-6 .table1 {
  font-family: siyuanbold;
  margin: 1.8rem auto 0;
  color: #fff;
  background-color: rgba(255, 0, 0, 0.5);
}

.page-6 .table1 .border-r {
  border-right: 1px solid #333 !important;
}

.page-6 .table2 {
  margin: 0 auto;
  color: #fff;
  background-color: rgba(102, 102, 102, 0.5);
}

.page-6 .table2 tr:first-of-type {
  background-color: rgba(102, 102, 102, 0.5);
}

.page-6 .scroll-box {
  height: 5.5rem;
  overflow: scroll;
}

.page-7 {
  background-image: url(../assets/7.jpg);
}

.page-7 .info-box {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  margin-left: -3.05rem;
  width: 6.1rem;
}

.page-7 .info-box input {
  outline: none;
  background-color: rgba(51, 51, 51, 0.7);
  width: 5.5rem;
  padding: 0 0.3rem;
  height: 0.8rem;
  border: none;
  color: rgba(255, 255, 255, 0.6);
}

.page-7 .info-box input:nth-child(2) {
  margin-top: 0.2rem;
}

.page-7 .info-box input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.page-7 .info-box .btn {
  text-align: center;
  height: 0.8rem;
  line-height: 0.8rem;
  margin-top: 0.2rem;
  background-color: rgba(255, 0, 0, 0.5);
  color: #fff;
}

.loading-box {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 9999;
}

.loading-box img {
  width: 40%;
}

.music-btn {
  position: fixed;
  right: 25px;
  top: 20px;
  border-radius: 50%;
  width: 0.6rem;
  height: 0.6rem;
  background-color: rgba(0, 0, 0, 0.6);
  animation-fill-mode: forwards;
  animation-name: rotates;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-play-state: paused;
}

.music-btn img {
  width: 0.36rem;
}

.music-btn .pause-sign {
  display: none;
  position: absolute;
  width: 1px;
  height: 0.6rem;
  left: 50%;
  top: 0;
  background-color: #fff;
  transform: rotate(45deg);
}

.rotates {
  animation-play-state: running;
}

@keyframes rotates {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes updown {
  0% {
    transform: translate3d(0, 0, 0);
  }
  25% {
    transform: translate3d(0, 0.1rem, 0);
  }
  50% {
    transform: translate3d(0, 0, 0);
  }
  75% {
    transform: translate3d(0, -0.1rem, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
