// @import 'vars.scss';
$main-color: blue;
.h-center {
    display: flex;
    align-items: center;
}
  
.v-center {
    display: flex;
    justify-content: center;
}
  
.vh-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.column{
    display: flex;
    flex-direction: column;
}
.space-between{
    display: flex;
    justify-content: space-between;
}
.column-space-between{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
}
.column-align-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.column-center{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center; 
}
.home{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: #000000;
}
// 音频-------------------------------------------------------------------------------------------------------------
#canvas1,#canvas2{
  position: fixed;
  width: 30px;
  height: 52px;
  z-index: 999;
}
#canvas1{
  left:0;
  bottom:20px;
}
#canvas2{
  right:0;
  top:20px;
}
.number{
  position: fixed;
  height: 24px;;
  right:0; 
  bottom:20px; 
  color:#fff; 
  line-height: 24px;
  background-color: rgba(0, 0, 0,0.6);
  padding:0 15px;
  border-radius: 12px 0 0 12px;
}

// 滑动页公用样式---------------------------------------------------------------------------------------------------------------------
.page{ 
  background-size:100% auto;
  background-repeat: no-repeat;
  table{
    
    width: 6.5rem!important;
    tr{
      
    }
    td{
      text-align: center;
      border:none!important;
      border-bottom:1px solid #333!important;
    }
  }
  .note{
    width: 5.9rem;
    margin:0.2rem auto 0;
    padding:0.2rem 0.3rem;
    background-color: rgba(102,102,102,0.5);
    color:#fff;
    line-height: 0.4rem;
  }
  .next{
    position: absolute;
    left:50%;
    bottom:0.3rem;
    width: 0.7rem;
    margin-left:-0.35rem;
    animation: updown 1.2s linear infinite;
  }
}



// 第1页---------------------------------------------------------------------------------------------------------------------------
.page-1{
  background-image: url(../assets/1.jpg);
  
}

// 第2页---------------------------------------------------------------------------------------------------------------------------
.page-2{
  background-image: url(../assets/2.jpg);
}

// 第3页---------------------------------------------------------------------------------------------------------------------------
.page-3{
  background-image: url(../assets/3.jpg);
}

// 第4页---------------------------------------------------------------------------------------------------------------------------
.page-4{
  background-image: url(../assets/4.jpg);
}

// 第5页---------------------------------------------------------------------------------------------------------------------------
.page-5{
  background-image: url(../assets/5.jpg);
}

// 第6页---------------------------------------------------------------------------------------------------------------------------
.page-6{
  background-image: url(../assets/6.jpg);
  .table1{
    margin:1.8rem auto 0;
    color:#fff;
    background-color: rgba(255,0,0,0.5);
    .border-r{
      border-right:1px solid #333!important;
    }
    
  }
  .table2{
    margin:0 auto;
    color:#fff;
    tr:first-of-type{
      background-color: rgba(102,102,102,0.5);
    }
    background-color: rgba(102,102,102,0.5);
  }
  .scroll-box{
    height: 5.5rem;
    overflow: scroll;
  }
}

// 第7页---------------------------------------------------------------------------------------------------------------------------
.page-7{
  background-image: url(../assets/7.jpg);
  .info-box{
    width: 6.1rem;
    margin:8rem auto 0;
    input{
      outline: none;
      background-color: rgba(51,51,51,0.7);
      width: 5.5rem;
      padding:0 0.3rem;
      height: 0.8rem;
      border:none;
      color:rgba(255, 255, 255, 0.6);
      &:nth-child(2){
        margin-top:0.2rem;
      }
      &::placeholder{
        color:rgba(255, 255, 255, 0.6);
      }
    }
    .btn{
      text-align: center;
      height: 0.8rem;
      line-height: 0.8rem;
      margin-top:0.2rem;
      background-color: rgba(255,0,0,0.5);
      color:#fff;
    }
  }
}

.loading-box{
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: #fff;
  z-index: 9999;
  @extend .vh-center;
  img{
    width: 40%;
  }
}

.music-btn{
  position: fixed;
  right:25px;
  top:20px;
  border-radius: 50%;
  width: 0.6rem;
  height:0.6rem;
  background-color: rgba(0, 0, 0,0.6);
  @extend .vh-center;
  animation-fill-mode:forwards;
  animation-name:rotates;
  animation-duration:2s;
  animation-timing-function:linear;
  animation-delay:0;
  animation-iteration-count:infinite;
  animation-play-state:paused;
  img{
    width: 0.36rem;
  }
  .pause-sign{
    display:none;
    position: absolute;
    width: 1px;
    height: 0.6rem;
    left:50%;
    top:0;
    background-color: #fff;
    transform: rotate(45deg);
  }
}

.rotates{
  animation-play-state:running
}

@keyframes rotates {
  0%{
    transform: rotate(0)
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes updown {
  0%{
    transform: translate3d(0,0,0);
  }
  25%{
    transform: translate3d(0,0.2rem,0);
  }
  50%{
    transform: translate3d(0,0,0);
  }
  75%{
    transform: translate3d(0,-0.2rem,0);
  }
  100%{
    transform: translate3d(0,0,0);
  }
}



